$transparent: transparent !important;
$none: none !important;
$zero: 0 !important;
$one: 1 !important;
$fade-in-duration: 0.35s;

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  --scrollbar-width: 0;
  --border-width: 0;
  --radius-s: 7px;
  --radius-m: 9px;
  --radius-l: 11px;
  --radius-xl: 13px;
  --button-radius: 7px;
}

// I. Completely hide
.empty-state-container,
.tag-pane-empty,
.titlebar-button-container.mod-right, // Window control buttons
.modal-close-button,
.search-input-clear-button,
.search-empty-state,
.sidebar-toggle-button,
.prompt-instructions,
.workspace-drawer-vault-actions, // "Help" & "Settings" buttons
.workspace-tab-header-container::after,
.workspace-tab-header-inner::after,
.workspace-tab-header-inner-close-button,
.workspace-tab-header-tab-list,
.workspace-tab-header-new-tab,
.workspace-tab-header-spacer {
  display: $none;
}
// Editor scrollbar
.cm-scroller {
  scrollbar-width: $none;
  -ms-overflow-style: $none;
  &::-webkit-scrollbar {
    display: $none;
  }
}

// II. Decorators
// Remove border
.workspace-tab-header-container,
.workspace-sidedock-vault-profile {
  border: $none;
}
.community-item {
  border: $none;
  background: var(--color-base-20);
  &:hover {
    background: var(--color-base-30);
  }
}
// Hide resize handler
.workspace-leaf-resize-handle {
  opacity: $zero;
}
// Tab header
.workspace-tab-header {
  box-shadow: $none;
  padding-top: $zero;
  &.is-active {
    background-color: $transparent;
    &::before,
    &::after {
      opacity: $zero;
    }
    .workspace-tab-header-inner {
      background-color: var(--color-base-30);
    }
  }
}

// III. Alignment
.workspace-tab-header-container {
  height: var(--size-4-16) !important;
  padding-top: var(--size-4-2) !important;
  padding-left: var(--size-4-4) !important;
  padding-right: var(--size-4-4) !important;
  justify-content: center;
  & * {
    min-width: var(--size-4-8) !important;
    max-width: unset;
  }
}
.workspace-tab-header-container-inner {
  margin-top: $zero;
}
.workspace-tab-header-inner {
  height: var(--size-4-10) !important;
}
.metadata-property-key {
  align-items: center;
}
.workspace-tab-header-inner-title {
  padding-left: var(--size-4-2) !important;
  padding-right: var(--size-4-2) !important;
}
.prompt-input {
  padding-top: var(--size-4-8) !important;
}
.prompt {
  top: 15vh;
}
.status-bar {
  border: $none;
  border-radius: $zero;
  padding: var(--size-4-2) !important;
  min-width: 300px;
}
.status-bar-item {
  padding-left: var(--size-4-2) !important;
  padding-right: var(--size-4-2) !important;
}

// IV. Colors
.status-bar,
.workspace-split.mod-horizontal.mod-sidedock,
.workspace-sidedock-vault-profile,
.workspace-tab-header-container,
.workspace-leaf {
  background-color: $transparent;
}

// V. Transitions
.titlebar-button-container,
.nav-header,
.status-bar,
.workspace-tab-header-container,
.workspace-sidedock-vault-profile {
  opacity: $zero;
  transition: opacity $fade-in-duration;
  &:hover {
    opacity: $one;
  }
}
.workspace-tab-header-container:has(.mod-right) {
  opacity: $one;
}

// VI. Animations
.modal-container {
  animation: appear $fade-in-duration;
}
